In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
data = pd.read_parquet('/home/lisa/work/germany/processed_data/Bevoelkerung100M.parquet')

In [3]:
data

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN27382E45281        6.0      3.0     3.0          NaN            4.0
100mN27382E45282       12.0      4.0     4.0          4.0            4.0
100mN27382E45283       13.0      NaN     5.0          4.0            5.0
100mN27382E45284       10.0      NaN     3.0          NaN            4.0
100mN27382E45287       27.0      5.0    12.0          8.0           11.0

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN27382E45281     3.0              4.0          NaN    3.0    3.0  ...
100mN27382E45282     8.0             12.0          NaN    5.0    7.0  ...
100mN27382E45283     7.0             12.0          NaN    4.0    9.0  ...
100mN27382E45284     6.0             10.0          NaN    5.0    5.0  ...
100mN27382E45287    12.0             26.0          NaN   12.0   15.0  ...

Variable         NATIONALITY_COUNTRY                      \
Category                     Croatia Romania Netherlands
ID
100mN26891E43370                 NaN     NaN         NaN
100mN26891E43411                 NaN     NaN         NaN
100mN26908E43412                 NaN     NaN         NaN
100mN26912E43412                 NaN     NaN         NaN
100mN26917E43411                 NaN     NaN         NaN
...                              ...     ...         ...
100mN27382E45281                 NaN     NaN         NaN
100mN27382E45282                 NaN     NaN         NaN
100mN27382E45283                 NaN     NaN         NaN
100mN27382E45284                 NaN     NaN         NaN
100mN27382E45287                 NaN     NaN         NaN

Variable                       MARITAL_STATUS NATIONALITY_COUNTRY  \
Category         Registered civil partnership  Russian Federation
ID
100mN26891E43370                          NaN                 NaN
100mN26891E43411                          NaN                 NaN
100mN26908E43412                          NaN                 NaN
100mN26912E43412                          NaN                 NaN
100mN26917E43411                          NaN                 NaN
...                                       ...                 ...
100mN27382E45281                          NaN                 NaN
100mN27382E45282                          NaN                 NaN
100mN27382E45283                          NaN                 NaN
100mN27382E45284                          NaN                 NaN
100mN27382E45287                          NaN                 NaN

Variable         NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY  \
Category              Not known             Other          Kazakhstan
ID
100mN26891E43370            NaN               NaN                 NaN
100mN26891E43411            NaN               NaN                 NaN
100mN26908E43412            NaN               NaN                 NaN
100mN26912E43412            NaN               NaN                 NaN
100mN26917E43411            NaN               NaN                 NaN
...                         ...               ...                 ...
100mN27382E45281            NaN               NaN                 NaN
100mN27382E45282            NaN               NaN                 NaN
100mN27382E45283            NaN               NaN                 NaN
100mN27382E45284            NaN               NaN                 NaN
100mN27382E45287            NaN               NaN                 NaN

Variable         MARITAL_STATUS   S
Category         No information nan
ID
100mN26891E43370            NaN NaN
100mN26891E43411            NaN NaN
100mN26908E43412            NaN NaN
100mN26912E43412            NaN NaN
100mN26917E43411            NaN NaN
...                         ...  ..
100mN27382E45281            NaN NaN
100mN27382E45282            NaN NaN
100mN27382E45283            NaN NaN
100mN27382E45284            NaN NaN
100mN27382E45287            NaN NaN

[57768 rows x 57 columns]

In [4]:
coords = data.index.str.extract(r'N(\d{5})E(\d{5})')

In [5]:
coords[0] = pd.to_numeric(coords[0]) * 100 + 50
coords[1] = pd.to_numeric(coords[1]) * 100 + 50

In [6]:
coords.values

array([[2689150, 4337050],
       [2689150, 4341150],
       [2690850, 4341250],
       ...,
       [2738250, 4528350],
       [2738250, 4528450],
       [2738250, 4528750]])

In [7]:
data[[("geometry", "N"), ("geometry", "E")]]=coords.values

In [8]:
data

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN27382E45281        6.0      3.0     3.0          NaN            4.0
100mN27382E45282       12.0      4.0     4.0          4.0            4.0
100mN27382E45283       13.0      NaN     5.0          4.0            5.0
100mN27382E45284       10.0      NaN     3.0          NaN            4.0
100mN27382E45287       27.0      5.0    12.0          8.0           11.0

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN27382E45281     3.0              4.0          NaN    3.0    3.0  ...
100mN27382E45282     8.0             12.0          NaN    5.0    7.0  ...
100mN27382E45283     7.0             12.0          NaN    4.0    9.0  ...
100mN27382E45284     6.0             10.0          NaN    5.0    5.0  ...
100mN27382E45287    12.0             26.0          NaN   12.0   15.0  ...

Variable         NATIONALITY_COUNTRY               MARITAL_STATUS  \
Category                 Netherlands Registered civil partnership
ID
100mN26891E43370                 NaN                          NaN
100mN26891E43411                 NaN                          NaN
100mN26908E43412                 NaN                          NaN
100mN26912E43412                 NaN                          NaN
100mN26917E43411                 NaN                          NaN
...                              ...                          ...
100mN27382E45281                 NaN                          NaN
100mN27382E45282                 NaN                          NaN
100mN27382E45283                 NaN                          NaN
100mN27382E45284                 NaN                          NaN
100mN27382E45287                 NaN                          NaN

Variable         NATIONALITY_COUNTRY NATIONALITY_NO NATIONALITY_GROUP  \
Category          Russian Federation      Not known             Other
ID
100mN26891E43370                 NaN            NaN               NaN
100mN26891E43411                 NaN            NaN               NaN
100mN26908E43412                 NaN            NaN               NaN
100mN26912E43412                 NaN            NaN               NaN
100mN26917E43411                 NaN            NaN               NaN
...                              ...            ...               ...
100mN27382E45281                 NaN            NaN               NaN
100mN27382E45282                 NaN            NaN               NaN
100mN27382E45283                 NaN            NaN               NaN
100mN27382E45284                 NaN            NaN               NaN
100mN27382E45287                 NaN            NaN               NaN

Variable         NATIONALITY_COUNTRY MARITAL_STATUS   S geometry
Category                  Kazakhstan No information nan        N        E
ID
100mN26891E43370                 NaN            NaN NaN  2689150  4337050
100mN26891E43411                 NaN            NaN NaN  2689150  4341150
100mN26908E43412                 NaN            NaN NaN  2690850  4341250
100mN26912E43412                 NaN            NaN NaN  2691250  4341250
100mN26917E43411                 NaN            NaN NaN  2691750  4341150
...                              ...            ...  ..      ...      ...
100mN27382E45281                 NaN            NaN NaN  2738250  4528150
100mN27382E45282                 NaN            NaN NaN  2738250  4528250
100mN27382E45283                 NaN            NaN NaN  2738250  4528350
100mN27382E45284                 NaN            NaN NaN  2738250  4528450
100mN27382E45287                 NaN            NaN NaN  2738250  4528750

[57768 rows x 59 columns]

In [9]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data[("geometry", "E")], data[("geometry", "N")]), crs='EPSG:3035')

In [10]:
gdf

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN27382E45281        6.0      3.0     3.0          NaN            4.0
100mN27382E45282       12.0      4.0     4.0          4.0            4.0
100mN27382E45283       13.0      NaN     5.0          4.0            5.0
100mN27382E45284       10.0      NaN     3.0          NaN            4.0
100mN27382E45287       27.0      5.0    12.0          8.0           11.0

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN27382E45281     3.0              4.0          NaN    3.0    3.0  ...
100mN27382E45282     8.0             12.0          NaN    5.0    7.0  ...
100mN27382E45283     7.0             12.0          NaN    4.0    9.0  ...
100mN27382E45284     6.0             10.0          NaN    5.0    5.0  ...
100mN27382E45287    12.0             26.0          NaN   12.0   15.0  ...

Variable         NATIONALITY_COUNTRY               MARITAL_STATUS  \
Category                 Netherlands Registered civil partnership
ID
100mN26891E43370                 NaN                          NaN
100mN26891E43411                 NaN                          NaN
100mN26908E43412                 NaN                          NaN
100mN26912E43412                 NaN                          NaN
100mN26917E43411                 NaN                          NaN
...                              ...                          ...
100mN27382E45281                 NaN                          NaN
100mN27382E45282                 NaN                          NaN
100mN27382E45283                 NaN                          NaN
100mN27382E45284                 NaN                          NaN
100mN27382E45287                 NaN                          NaN

Variable         NATIONALITY_COUNTRY NATIONALITY_NO NATIONALITY_GROUP  \
Category          Russian Federation      Not known             Other
ID
100mN26891E43370                 NaN            NaN               NaN
100mN26891E43411                 NaN            NaN               NaN
100mN26908E43412                 NaN            NaN               NaN
100mN26912E43412                 NaN            NaN               NaN
100mN26917E43411                 NaN            NaN               NaN
...                              ...            ...               ...
100mN27382E45281                 NaN            NaN               NaN
100mN27382E45282                 NaN            NaN               NaN
100mN27382E45283                 NaN            NaN               NaN
100mN27382E45284                 NaN            NaN               NaN
100mN27382E45287                 NaN            NaN               NaN

Variable         NATIONALITY_COUNTRY MARITAL_STATUS   S  \
Category                  Kazakhstan No information nan
ID
100mN26891E43370                 NaN            NaN NaN
100mN26891E43411                 NaN            NaN NaN
100mN26908E43412                 NaN            NaN NaN
100mN26912E43412                 NaN            NaN NaN
100mN26917E43411                 NaN            NaN NaN
...                              ...            ...  ..
100mN27382E45281                 NaN            NaN NaN
100mN27382E45282                 NaN            NaN NaN
100mN27382E45283                 NaN            NaN NaN
100mN27382E45284                 NaN            NaN NaN
100mN27382E45287                 NaN            NaN NaN

Variable                         geometry
Category                                N                        E
ID
100mN26891E43370  POINT (4337050 2689150)  POINT (4337050 2689150)
100mN26891E43411  POINT (4341150 2689150)  POINT (4341150 2689150)
100mN26908E43412  POINT (4341250 2690850)  POINT (4341250 2690850)
100mN26912E43412  POINT (4341250 2691250)  POINT (4341250 2691250)
100mN26917E43411  POINT (4341150 2691750)  POINT (4341150 2691750)
...                                   ...                      ...
100mN27382E45281  POINT (4528150 2738250)  POINT (4528150 2738250)
100mN27382E45282  POINT (4528250 2738250)  POINT (4528250 2738250)
100mN27382E45283  POINT (4528350 2738250)  POINT (4528350 2738250)
100mN27382E45284  POINT (4528450 2738250)  POINT (4528450 2738250)
100mN27382E45287  POINT (4528750 2738250)  POINT (4528750 2738250)

[57768 rows x 59 columns]

In [104]:
data[("geometry", "E")]

ID
100mN26891E43370    4337050
100mN26891E43411    4341150
100mN26908E43412    4341250
100mN26912E43412    4341250
100mN26917E43411    4341150
                     ...
100mN27382E45281    4528150
100mN27382E45282    4528250
100mN27382E45283    4528350
100mN27382E45284    4528450
100mN27382E45287    4528750
Name: (geometry, E), Length: 57768, dtype: int64

In [27]:
gdf.to_parquet(path='Bevoelkerung100M.parquet',geometry_encoding='geoarrow')

ValueError: Writing to Parquet/Feather requires string column names

In [15]:
gdf.columns = pd.MultiIndex.from_frame(
    pd.DataFrame(index=gdf.columns)
    .reset_index().astype(str)
)

In [23]:
gdf.columns

MultiIndex([(         ' INSGESAMT',                              'Total'),
            (              'AGE_5',                           'Under 18'),
            (              'AGE_5',                            '30 - 49'),
            (              'AGE_5',                       '65 and older'),
            (     'MARITAL_STATUS',                             'Single'),
            (     'MARITAL_STATUS',                            'Married'),
            (   'COUNTRY_OF_BIRTH',                            'Germany'),
            (   'COUNTRY_OF_BIRTH',                       'EU27 country'),
            (             'GENDER',                               'Male'),
            (             'GENDER',                             'Female'),
            (           'RELIGION', 'Roman Catholic Church (public law)'),
            (           'RELIGION',        'Other, none, no information'),
            (  'NATIONALITY_GROUP',                            'Germany'),
            (  'NATIONALITY_GROUP',                       'EU27 country'),
            ('NATIONALITY_COUNTRY',                            'Germany'),
            ('NATIONALITY_COUNTRY',                            'Austria'),
            (        'NATIONALITY',                            'Germany'),
            (        'NATIONALITY',                             'Abroad'),
            (     'NATIONALITY_NO',                    'One nationality'),
            (             'AGE_10',                           'Under 10'),
            (             'AGE_10',                            '20 - 29'),
            (              'AGE_5',                            '18 - 29'),
            (             'AGE_10',                            '60 - 69'),
            (             'AGE_10',                            '10 - 19'),
            (             'AGE_10',                            '40 - 49'),
            (             'AGE_10',                            '50 - 59'),
            (              'AGE_5',                            '50 - 64'),
            (     'MARITAL_STATUS',                           'Divorced'),
            (           'RELIGION',    'Evangelical Church (public law)'),
            (             'AGE_10',                            '30 - 39'),
            (             'AGE_10',                            '70 - 79'),
            ('NATIONALITY_COUNTRY',                              'Other'),
            (     'MARITAL_STATUS',                            'Widowed'),
            (     'NATIONALITY_NO',       'Multiple, German and foreign'),
            (             'AGE_10',                       '80 and older'),
            (  'NATIONALITY_GROUP',                        'Other world'),
            (  'NATIONALITY_GROUP',                       'Other Europe'),
            (   'COUNTRY_OF_BIRTH',                       'Other Europe'),
            (   'COUNTRY_OF_BIRTH',                        'Other world'),
            (   'COUNTRY_OF_BIRTH',                              'Other'),
            ('NATIONALITY_COUNTRY',                            'Ukraine'),
            ('NATIONALITY_COUNTRY',                              'Italy'),
            (     'NATIONALITY_NO',             'Multiple, only foreign'),
            ('NATIONALITY_COUNTRY',                             'Turkey'),
            ('NATIONALITY_COUNTRY',                             'Greece'),
            ('NATIONALITY_COUNTRY',                             'Poland'),
            ('NATIONALITY_COUNTRY',             'Bosnia and Herzegovina'),
            ('NATIONALITY_COUNTRY',                            'Croatia'),
            ('NATIONALITY_COUNTRY',                            'Romania'),
            ('NATIONALITY_COUNTRY',                        'Netherlands'),
            (     'MARITAL_STATUS',       'Registered civil partnership'),
            ('NATIONALITY_COUNTRY',                 'Russian Federation'),
            (     'NATIONALITY_NO',                          'Not known'),
            (  'NATIONALITY_GROUP',                              'Other'),
            ('NATIONALITY_COUNTRY',                         'Kazakhstan'),
            (     'MARITAL_STATUS',                     'No information'),
            (                  'S',                                'nan'),
            (           'geometry',                                  'N'),
            (           'geometry',                                  'E')],
           names=['Variable', 'Category'])

In [21]:
gdf.index = pd.MultiIndex.from_frame(
    pd.DataFrame(index=gdf.index)
    .reset_index().astype(str)
    )

In [26]:
gdf.index

MultiIndex([('100mN26891E43370',),
            ('100mN26891E43411',),
            ('100mN26908E43412',),
            ('100mN26912E43412',),
            ('100mN26917E43411',),
            ('100mN26919E43408',),
            ('100mN26923E43411',),
            ('100mN26924E43412',),
            ('100mN26926E43410',),
            ('100mN26927E43410',),
            ...
            ('100mN27382E45060',),
            ('100mN27382E45061',),
            ('100mN27382E45203',),
            ('100mN27382E45204',),
            ('100mN27382E45205',),
            ('100mN27382E45281',),
            ('100mN27382E45282',),
            ('100mN27382E45283',),
            ('100mN27382E45284',),
            ('100mN27382E45287',)],
           names=['ID'], length=57768)

In [29]:
gdf.to_parquet('Bevoelkerung100M.parquet')

ValueError: Writing to Parquet/Feather requires string column names