In [1]:
import geopandas as gpd

import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
clusters = gpd.read_parquet('clusters_freiburg_ward_300.parquet').reset_index()

In [3]:
clusters

,label,geometry,enclosure_index,sdbAre,sdbPer,sdbCoA,ssbCCo,ssbCor,ssbSqu,ssbERI,...,ltkOri_higher,ltkWNB_lower,ltkWNB_median,ltkWNB_higher,likWBB_lower,likWBB_median,likWBB_higher,sdsAre_lower,sdsAre_median,sdsAre_higher
0,1,"POLYGON ((4160315.473 2766773.57, 4160316.052 ...",698.494949,0.072439,0.296139,0.128093,-0.897510,0.057198,0.785107,-0.428055,...,0.282845,1.899699,1.870746,1.730004,3.954006,3.833960,3.718698,-0.287144,-0.363872,-0.479505
1,2,"POLYGON ((4158581.272 2767240.066, 4158570.188...",521.602941,0.083282,0.200863,0.083308,-0.079618,0.041078,0.023353,-0.016417,...,0.841974,0.096769,0.131809,0.260101,0.193866,0.174852,0.233652,-0.132772,-0.161855,-0.160478
2,3,"POLYGON ((4160458.506 2767334.922, 4160452.062...",905.038520,-0.003418,0.076434,0.005839,0.059810,0.184066,0.099739,-0.067322,...,-0.298478,0.930103,1.013184,0.668191,0.218022,0.394463,0.507974,-0.177427,-0.205120,-0.258063
3,4,"POLYGON ((4160036.805 2765726.935, 4160037.175...",773.815258,-0.077571,-0.029634,-0.032608,0.156211,0.193510,0.198555,-0.055999,...,-1.422031,1.637022,1.399298,1.021010,1.531491,1.302610,1.166242,-0.198404,-0.256048,-0.368952
4,5,"POLYGON ((4159473.086 2766700.517, 4159431.299...",788.991438,-0.060942,-0.032278,-0.025261,0.123937,-0.089827,0.119959,0.020749,...,0.256750,0.730215,0.741367,0.454872,1.297692,1.665937,1.496416,-0.126413,-0.182836,-0.182987
5,6,"MULTIPOLYGON (((4159434.346 2766065.548, 41594...",752.012889,0.165319,0.325830,0.064044,-0.172218,0.297991,0.430238,-0.289825,...,-0.396813,1.143079,1.128157,1.085685,1.394065,1.720092,1.845856,-0.203254,-0.192752,-0.140186
6,7,"MULTIPOLYGON (((4155028.693 2765570.489, 41550...",416.662114,0.994737,1.001210,0.101153,-0.385455,0.112029,-0.023618,-0.125163,...,0.357830,-0.544261,-0.576970,-0.267416,0.254841,0.359163,0.410288,0.385475,0.633965,0.896125
7,8,"MULTIPOLYGON (((4154282.921 2765621.477, 41542...",291.278195,0.645085,0.543043,0.069754,-0.346474,-0.039057,0.195045,0.046161,...,-0.060755,-1.276901,-1.386594,-1.023824,-1.315098,-1.453392,-1.524286,5.429338,4.613248,3.267910
8,9,"MULTIPOLYGON (((4156620.518 2764269.384, 41566...",1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,0.342857,-1.491223,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610
9,10,"MULTIPOLYGON (((4160720.885 2763475.231, 41607...",376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,0.608649,-1.211963,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628
10,11,"POLYGON ((4161339.033 2768994.631, 4161339.078...",529.449570,-0.172547,-0.254196,-0.033594,0.263645,-0.064022,0.043476,0.035299,...,-0.378986,-0.895747,-0.824960,-0.633980,-0.640196,-0.655197,-0.668755,-0.112930,-0.034933,-0.069100
11,12,"POLYGON ((4157151.447 2769563.34, 4157147.009 ...",209.000000,-0.032112,0.080754,-0.033594,-0.236770,0.111698,-0.313976,-0.361494,...,-1.580473,-0.703010,-0.950409,-0.968217,-0.457976,-0.769467,-1.001056,0.050500,-0.099966,-0.217569
12,13,"POLYGON ((4155683.067 2767201.055, 4155681.678...",323.699634,-0.192402,-0.304883,-0.033594,-0.040212,-0.240426,-0.290816,0.307271,...,-0.292652,-0.273787,-0.287550,-0.083184,-0.512265,-0.615801,-0.469896,-0.135822,-0.306499,-0.469261
13,14,"POLYGON ((4157613.665 2767944.121, 4157606.824...",184.058419,-0.198641,-0.342646,-0.033594,-0.017638,-0.252868,-0.031245,0.203981,...,1.236066,-0.869847,-1.066955,-1.044804,-0.518303,-0.702597,-0.642961,-0.023049,-0.075722,-0.261153
14,15,"MULTIPOLYGON (((4156992.032 2766946.609, 41569...",324.294724,0.019926,0.077025,0.027675,-0.097769,0.030694,-0.142245,-0.024864,...,0.695786,-0.770534,-0.779174,-0.443302,-0.401252,-0.518815,-0.510565,0.102916,0.223457,0.291330
15,16,"POLYGON ((4158040.339 2769258.878, 4158031.677...",908.687452,-0.183899,-0.270633,-0.022143,-0.051068,-0.208862,-0.164468,0.052254,...,1.315539,0.365698,0.249649,-0.011269,0.221328,0.082086,-0.082934,0.155365,0.172668,0.119665
16,17,"POLYGON ((4163411.876 2764546.217, 4163404.808...",246.655172,-0.145759,-0.207604,-0.033594,0.159822,-0.055911,0.034454,0.053595,...,-0.539878,-1.025947,-0.937644,-0.762256,-0.551996,-0.463496,-0.427620,0.025558,0.100885,-0.007851
17,18,"POLYGON ((4159473.289 2764415.59, 4159472.63 2...",530.065963,-0.087067,-0.057373,0.006499,0.108959,0.120375,0.144135,-0.114525,...,-0.195213,-1.394233,-1.423626,-1.035133,-1.275815,-1.430484,-1.474325,0.008321,0.073405,0.009688
18,19,"POLYGON ((4161104.4 2766407.353, 4161103.488 2...",376.785942,0.223629,0.431323,0.075029,-0.227571,0.507386,0.239907,-0.500842,...,-1.352885,-1.013186,-0.812671,-0.555418,-0.557350,-0.176174,-0.056248,0.389901,0.205354,0.073177
19,20,"POLYGON ((4159543.575 2765827.609, 4159543.475...",842.742287,-0.083235,-0.050902,-0.025943,0.235812,0.211385,0.101443,-0.005376,...,-0.124364,0.638387,0.718194,0.524543,-0.084007,0.006884,-0.022710,-0.094917,-0.148439,-0.155994
20,21,"MULTIPOLYGON (((4161830.601 2765854.26, 416182...",651.621043,-0.169463,-0.273735,-0.028272,0.224414,-0.125262,-0.195433,0.177056,...,-0.440793,0.150085,0.218375,0.099768,-0.297515,-0.381861,-0.444180,-0.144559,-0.189754,-0.258417
21,22,"POLYGON ((4156950.543 2764726.615, 4156948.184...",314.200389,-0.162089,-0.215070,-0.032976,0.106640,-0.141949,0.117795,0.107407,...,-0.850367,-0.388379,-0.408079,-0.482962,-0.277275,-0.347168,-0.376912,-0.089328,-0.096817,-0.167973
22,23,"POLYGON ((4156056.169 2764765.795, 4156048.356...",358.835341,-0.157194,-0.246306,-0.033245,0.117451,-0.150884,-0.062276,0.133613,...,-0.335510,-0.355175,-0.402592,-0.398279,-0.466505,-0.449859,-0.444966,-0.072278,-0.063069,-0.137097
23,24,"POLYGON ((4157543.978 2765764.704, 4157526.946...",733.182957,-0.182237,-0.260508,-0.024939,-0.226091,-0.094844,-0.299565,-0.229251,...,-0.365384,1.043603,0.923162,0.577024,-0.486031,-0.503333,-0.545262,0.001694,-0.167766,0.625354
24,25,"POLYGON ((4156722.506 2766252.44, 4156717.989 ...",474.076981,-0.166691,-0.304700,-0.033594,0.035928,-0.291272,-0.193919,0.311580,...,0.206885,0.430070,0.321013,0.084554,0.260168,0.033697,-0.111851,0.029280,0.004187,0.079189
25,26,"MULTIPOLYGON (((4156358.839 2767051.758, 41563...",579.903367,0.046659,0.102564,-0.010452,-0.120317,-0.016835,-0.080780,0.013919,...,0.463620,0.002458,0.049349,0.120760,0.011320,0.011699,0.070235,-0.108751,-0.112384,-0.055087

In [ ]:
clusters.explore(column=clusters.index,cmap='tab20')

In [5]:
data = pd.read_parquet('/data/processed_data/Bevoelkerung100M.parquet').reset_index()

In [6]:
data

Variable                ID  INSGESAMT    AGE_5                       \
Category                        Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable               MARITAL_STATUS NATIONALITY_COUNTRY NATIONALITY_NO  \
Category Registered civil partnership  Russian Federation      Not known
0                                 NaN                 NaN            NaN
1                                 NaN                 NaN            NaN
2                                 NaN                 NaN            NaN
3                                 NaN                 NaN            NaN
4                                 NaN                 NaN            NaN
...                               ...                 ...            ...
3177718                           NaN                 NaN            NaN
3177719                           NaN                 NaN            NaN
3177720                           NaN                 NaN            NaN
3177721                           NaN                 NaN            NaN
3177722                           NaN                 NaN            NaN

Variable NATIONALITY_GROUP NATIONALITY_COUNTRY MARITAL_STATUS  \
Category             Other          Kazakhstan No information
0                      NaN                 NaN            NaN
1                      NaN                 NaN            NaN
2                      NaN                 NaN            NaN
3                      NaN                 NaN            NaN
4                      NaN                 NaN            NaN
...                    ...                 ...            ...
3177718                NaN                 NaN            NaN
3177719                NaN                 NaN            NaN
3177720                NaN                 NaN            NaN
3177721                NaN                 NaN            NaN
3177722                NaN                 NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable
Category Registered civil partner deceased        N        E
0                                      NaN  2689150  4337050
1                                      NaN  2689150  4341150
2                                      NaN  2690850  4341250
3                                      NaN  2691250  4341250
4                                      NaN  2691750  4341150
...                                    ...      ...      ...
3177718                                NaN  3547650  4219850
3177719                                NaN  3547650  4219950
3177720                                NaN  3547650  4220050
3177721                                NaN  3547650  4220150
3177722                                NaN  3550850  4218750

[3177723 rows x 61 columns]

In [8]:
data = data.rename(columns={'': 'ID'})

In [9]:
data

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable               MARITAL_STATUS NATIONALITY_COUNTRY NATIONALITY_NO  \
Category Registered civil partnership  Russian Federation      Not known
0                                 NaN                 NaN            NaN
1                                 NaN                 NaN            NaN
2                                 NaN                 NaN            NaN
3                                 NaN                 NaN            NaN
4                                 NaN                 NaN            NaN
...                               ...                 ...            ...
3177718                           NaN                 NaN            NaN
3177719                           NaN                 NaN            NaN
3177720                           NaN                 NaN            NaN
3177721                           NaN                 NaN            NaN
3177722                           NaN                 NaN            NaN

Variable NATIONALITY_GROUP NATIONALITY_COUNTRY MARITAL_STATUS  \
Category             Other          Kazakhstan No information
0                      NaN                 NaN            NaN
1                      NaN                 NaN            NaN
2                      NaN                 NaN            NaN
3                      NaN                 NaN            NaN
4                      NaN                 NaN            NaN
...                    ...                 ...            ...
3177718                NaN                 NaN            NaN
3177719                NaN                 NaN            NaN
3177720                NaN                 NaN            NaN
3177721                NaN                 NaN            NaN
3177722                NaN                 NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                         ID
Category Registered civil partner deceased        N        E
0                                      NaN  2689150  4337050
1                                      NaN  2689150  4341150
2                                      NaN  2690850  4341250
3                                      NaN  2691250  4341250
4                                      NaN  2691750  4341150
...                                    ...      ...      ...
3177718                                NaN  3547650  4219850
3177719                                NaN  3547650  4219950
3177720                                NaN  3547650  4220050
3177721                                NaN  3547650  4220150
3177722                                NaN  3550850  4218750

[3177723 rows x 61 columns]

In [11]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data[("ID", "E")], data[("ID", "N")]), crs='EPSG:3035')
gdf = gdf.rename(columns={'': 'geometry'})
gdf = gdf.drop(['N','E'],axis=1,level=1)

In [12]:
gdf

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable NATIONALITY_COUNTRY               MARITAL_STATUS NATIONALITY_COUNTRY  \
Category         Netherlands Registered civil partnership  Russian Federation
0                        NaN                          NaN                 NaN
1                        NaN                          NaN                 NaN
2                        NaN                          NaN                 NaN
3                        NaN                          NaN                 NaN
4                        NaN                          NaN                 NaN
...                      ...                          ...                 ...
3177718                  NaN                          NaN                 NaN
3177719                  NaN                          NaN                 NaN
3177720                  NaN                          NaN                 NaN
3177721                  NaN                          NaN                 NaN
3177722                  NaN                          NaN                 NaN

Variable NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY MARITAL_STATUS  \
Category      Not known             Other          Kazakhstan No information
0                   NaN               NaN                 NaN            NaN
1                   NaN               NaN                 NaN            NaN
2                   NaN               NaN                 NaN            NaN
3                   NaN               NaN                 NaN            NaN
4                   NaN               NaN                 NaN            NaN
...                 ...               ...                 ...            ...
3177718             NaN               NaN                 NaN            NaN
3177719             NaN               NaN                 NaN            NaN
3177720             NaN               NaN                 NaN            NaN
3177721             NaN               NaN                 NaN            NaN
3177722             NaN               NaN                 NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                                   geometry
Category Registered civil partner deceased                 geometry
0                                      NaN  POINT (4337050 2689150)
1                                      NaN  POINT (4341150 2689150)
2                                      NaN  POINT (4341250 2690850)
3                                      NaN  POINT (4341250 2691250)
4                                      NaN  POINT (4341150 2691750)
...                                    ...                      ...
3177718                                NaN  POINT (4219850 3547650)
3177719                                NaN  POINT (4219950 3547650)
3177720                                NaN  POINT (4220050 3547650)
3177721                                NaN  POINT (4220150 3547650)
3177722                                NaN  POINT (4218750 3550850)

[3177723 rows x 60 columns]

In [13]:
# Buffer the points using a square cap style
# Note cap_style: round = 1, flat = 2, square = 3
gdf['geometry'] = gdf['geometry'].buffer(50, cap_style = 3)

In [14]:
gdf

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable NATIONALITY_COUNTRY               MARITAL_STATUS NATIONALITY_COUNTRY  \
Category         Netherlands Registered civil partnership  Russian Federation
0                        NaN                          NaN                 NaN
1                        NaN                          NaN                 NaN
2                        NaN                          NaN                 NaN
3                        NaN                          NaN                 NaN
4                        NaN                          NaN                 NaN
...                      ...                          ...                 ...
3177718                  NaN                          NaN                 NaN
3177719                  NaN                          NaN                 NaN
3177720                  NaN                          NaN                 NaN
3177721                  NaN                          NaN                 NaN
3177722                  NaN                          NaN                 NaN

Variable NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY MARITAL_STATUS  \
Category      Not known             Other          Kazakhstan No information
0                   NaN               NaN                 NaN            NaN
1                   NaN               NaN                 NaN            NaN
2                   NaN               NaN                 NaN            NaN
3                   NaN               NaN                 NaN            NaN
4                   NaN               NaN                 NaN            NaN
...                 ...               ...                 ...            ...
3177718             NaN               NaN                 NaN            NaN
3177719             NaN               NaN                 NaN            NaN
3177720             NaN               NaN                 NaN            NaN
3177721             NaN               NaN                 NaN            NaN
3177722             NaN               NaN                 NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                    \
Category Registered civil partner deceased
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
3177718                                NaN
3177719                                NaN
3177720                                NaN
3177721                                NaN
3177722                                NaN

Variable                                           geometry
Category                                           geometry
0         POLYGON ((4337100 2689200, 4337100 2689100, 43...
1         POLYGON ((4341200 2689200, 4341200 2689100, 43...
2         POLYGON ((4341300 2690900, 4341300 2690800, 43...
3         POLYGON ((4341300 2691300, 4341300 2691200, 43...
4         POLYGON ((4341200 2691800, 4341200 2691700, 43...
...                                                     ...
3177718   POLYGON ((4219900 3547700, 4219900 3547600, 42...
3177719   POLYGON ((4220000 3547700, 4220000 3547600, 42...
3177720   POLYGON ((4220100 3547700, 4220100 3547600, 42...
3177721   POLYGON ((4220200 3547700, 4220200 3547600, 42...
3177722   POLYGON ((4218800 3550900, 4218800 3550800, 42...

[3177723 rows x 60 columns]

In [15]:
ntn = gdf[['NATIONALITY','geometry']]
ntn.columns = ntn[['NATIONALITY','geometry']].columns.get_level_values(1)

In [16]:
ntn

Category  Germany  Abroad                                           geometry
0             5.0     3.0  POLYGON ((4337100 2689200, 4337100 2689100, 43...
1             7.0     NaN  POLYGON ((4341200 2689200, 4341200 2689100, 43...
2             3.0     NaN  POLYGON ((4341300 2690900, 4341300 2690800, 43...
3            10.0     NaN  POLYGON ((4341300 2691300, 4341300 2691200, 43...
4            10.0     NaN  POLYGON ((4341200 2691800, 4341200 2691700, 43...
...           ...     ...                                                ...
3177718       8.0     NaN  POLYGON ((4219900 3547700, 4219900 3547600, 42...
3177719      15.0     3.0  POLYGON ((4220000 3547700, 4220000 3547600, 42...
3177720      10.0     NaN  POLYGON ((4220100 3547700, 4220100 3547600, 42...
3177721       7.0     NaN  POLYGON ((4220200 3547700, 4220200 3547600, 42...
3177722       4.0     NaN  POLYGON ((4218800 3550900, 4218800 3550800, 42...

[3177723 rows x 3 columns]

In [ ]:
m = ntn.cx[4150000:4170000,2760000:2780000].explore(column='Germany')
clusters.explore(m=m, column=clusters.index,cmap='tab20')

determine which cluster each 100m grid cell is in. choose the cluster covering the largest proportion of the cell

In [18]:
cells = gdf[['ID','geometry']]

In [19]:
cells.columns.get_level_values(0)

Index(['ID', 'geometry'], dtype='object', name='Variable')

In [20]:
cells.columns =  cells.columns.get_level_values(0)

In [21]:
cells

Variable                ID                                           geometry
0         100mN26891E43370  POLYGON ((4337100 2689200, 4337100 2689100, 43...
1         100mN26891E43411  POLYGON ((4341200 2689200, 4341200 2689100, 43...
2         100mN26908E43412  POLYGON ((4341300 2690900, 4341300 2690800, 43...
3         100mN26912E43412  POLYGON ((4341300 2691300, 4341300 2691200, 43...
4         100mN26917E43411  POLYGON ((4341200 2691800, 4341200 2691700, 43...
...                    ...                                                ...
3177718   100mN35476E42198  POLYGON ((4219900 3547700, 4219900 3547600, 42...
3177719   100mN35476E42199  POLYGON ((4220000 3547700, 4220000 3547600, 42...
3177720   100mN35476E42200  POLYGON ((4220100 3547700, 4220100 3547600, 42...
3177721   100mN35476E42201  POLYGON ((4220200 3547700, 4220200 3547600, 42...
3177722   100mN35508E42187  POLYGON ((4218800 3550900, 4218800 3550800, 42...

[3177723 rows x 2 columns]

In [22]:
clusters

,label,geometry,enclosure_index,sdbAre,sdbPer,sdbCoA,ssbCCo,ssbCor,ssbSqu,ssbERI,...,ltkOri_higher,ltkWNB_lower,ltkWNB_median,ltkWNB_higher,likWBB_lower,likWBB_median,likWBB_higher,sdsAre_lower,sdsAre_median,sdsAre_higher
0,1,"POLYGON ((4160315.473 2766773.57, 4160316.052 ...",698.494949,0.072439,0.296139,0.128093,-0.897510,0.057198,0.785107,-0.428055,...,0.282845,1.899699,1.870746,1.730004,3.954006,3.833960,3.718698,-0.287144,-0.363872,-0.479505
1,2,"POLYGON ((4158581.272 2767240.066, 4158570.188...",521.602941,0.083282,0.200863,0.083308,-0.079618,0.041078,0.023353,-0.016417,...,0.841974,0.096769,0.131809,0.260101,0.193866,0.174852,0.233652,-0.132772,-0.161855,-0.160478
2,3,"POLYGON ((4160458.506 2767334.922, 4160452.062...",905.038520,-0.003418,0.076434,0.005839,0.059810,0.184066,0.099739,-0.067322,...,-0.298478,0.930103,1.013184,0.668191,0.218022,0.394463,0.507974,-0.177427,-0.205120,-0.258063
3,4,"POLYGON ((4160036.805 2765726.935, 4160037.175...",773.815258,-0.077571,-0.029634,-0.032608,0.156211,0.193510,0.198555,-0.055999,...,-1.422031,1.637022,1.399298,1.021010,1.531491,1.302610,1.166242,-0.198404,-0.256048,-0.368952
4,5,"POLYGON ((4159473.086 2766700.517, 4159431.299...",788.991438,-0.060942,-0.032278,-0.025261,0.123937,-0.089827,0.119959,0.020749,...,0.256750,0.730215,0.741367,0.454872,1.297692,1.665937,1.496416,-0.126413,-0.182836,-0.182987
5,6,"MULTIPOLYGON (((4159434.346 2766065.548, 41594...",752.012889,0.165319,0.325830,0.064044,-0.172218,0.297991,0.430238,-0.289825,...,-0.396813,1.143079,1.128157,1.085685,1.394065,1.720092,1.845856,-0.203254,-0.192752,-0.140186
6,7,"MULTIPOLYGON (((4155028.693 2765570.489, 41550...",416.662114,0.994737,1.001210,0.101153,-0.385455,0.112029,-0.023618,-0.125163,...,0.357830,-0.544261,-0.576970,-0.267416,0.254841,0.359163,0.410288,0.385475,0.633965,0.896125
7,8,"MULTIPOLYGON (((4154282.921 2765621.477, 41542...",291.278195,0.645085,0.543043,0.069754,-0.346474,-0.039057,0.195045,0.046161,...,-0.060755,-1.276901,-1.386594,-1.023824,-1.315098,-1.453392,-1.524286,5.429338,4.613248,3.267910
8,9,"MULTIPOLYGON (((4156620.518 2764269.384, 41566...",1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,0.342857,-1.491223,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610
9,10,"MULTIPOLYGON (((4160720.885 2763475.231, 41607...",376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,0.608649,-1.211963,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628
10,11,"POLYGON ((4161339.033 2768994.631, 4161339.078...",529.449570,-0.172547,-0.254196,-0.033594,0.263645,-0.064022,0.043476,0.035299,...,-0.378986,-0.895747,-0.824960,-0.633980,-0.640196,-0.655197,-0.668755,-0.112930,-0.034933,-0.069100
11,12,"POLYGON ((4157151.447 2769563.34, 4157147.009 ...",209.000000,-0.032112,0.080754,-0.033594,-0.236770,0.111698,-0.313976,-0.361494,...,-1.580473,-0.703010,-0.950409,-0.968217,-0.457976,-0.769467,-1.001056,0.050500,-0.099966,-0.217569
12,13,"POLYGON ((4155683.067 2767201.055, 4155681.678...",323.699634,-0.192402,-0.304883,-0.033594,-0.040212,-0.240426,-0.290816,0.307271,...,-0.292652,-0.273787,-0.287550,-0.083184,-0.512265,-0.615801,-0.469896,-0.135822,-0.306499,-0.469261
13,14,"POLYGON ((4157613.665 2767944.121, 4157606.824...",184.058419,-0.198641,-0.342646,-0.033594,-0.017638,-0.252868,-0.031245,0.203981,...,1.236066,-0.869847,-1.066955,-1.044804,-0.518303,-0.702597,-0.642961,-0.023049,-0.075722,-0.261153
14,15,"MULTIPOLYGON (((4156992.032 2766946.609, 41569...",324.294724,0.019926,0.077025,0.027675,-0.097769,0.030694,-0.142245,-0.024864,...,0.695786,-0.770534,-0.779174,-0.443302,-0.401252,-0.518815,-0.510565,0.102916,0.223457,0.291330
15,16,"POLYGON ((4158040.339 2769258.878, 4158031.677...",908.687452,-0.183899,-0.270633,-0.022143,-0.051068,-0.208862,-0.164468,0.052254,...,1.315539,0.365698,0.249649,-0.011269,0.221328,0.082086,-0.082934,0.155365,0.172668,0.119665
16,17,"POLYGON ((4163411.876 2764546.217, 4163404.808...",246.655172,-0.145759,-0.207604,-0.033594,0.159822,-0.055911,0.034454,0.053595,...,-0.539878,-1.025947,-0.937644,-0.762256,-0.551996,-0.463496,-0.427620,0.025558,0.100885,-0.007851
17,18,"POLYGON ((4159473.289 2764415.59, 4159472.63 2...",530.065963,-0.087067,-0.057373,0.006499,0.108959,0.120375,0.144135,-0.114525,...,-0.195213,-1.394233,-1.423626,-1.035133,-1.275815,-1.430484,-1.474325,0.008321,0.073405,0.009688
18,19,"POLYGON ((4161104.4 2766407.353, 4161103.488 2...",376.785942,0.223629,0.431323,0.075029,-0.227571,0.507386,0.239907,-0.500842,...,-1.352885,-1.013186,-0.812671,-0.555418,-0.557350,-0.176174,-0.056248,0.389901,0.205354,0.073177
19,20,"POLYGON ((4159543.575 2765827.609, 4159543.475...",842.742287,-0.083235,-0.050902,-0.025943,0.235812,0.211385,0.101443,-0.005376,...,-0.124364,0.638387,0.718194,0.524543,-0.084007,0.006884,-0.022710,-0.094917,-0.148439,-0.155994
20,21,"MULTIPOLYGON (((4161830.601 2765854.26, 416182...",651.621043,-0.169463,-0.273735,-0.028272,0.224414,-0.125262,-0.195433,0.177056,...,-0.440793,0.150085,0.218375,0.099768,-0.297515,-0.381861,-0.444180,-0.144559,-0.189754,-0.258417
21,22,"POLYGON ((4156950.543 2764726.615, 4156948.184...",314.200389,-0.162089,-0.215070,-0.032976,0.106640,-0.141949,0.117795,0.107407,...,-0.850367,-0.388379,-0.408079,-0.482962,-0.277275,-0.347168,-0.376912,-0.089328,-0.096817,-0.167973
22,23,"POLYGON ((4156056.169 2764765.795, 4156048.356...",358.835341,-0.157194,-0.246306,-0.033245,0.117451,-0.150884,-0.062276,0.133613,...,-0.335510,-0.355175,-0.402592,-0.398279,-0.466505,-0.449859,-0.444966,-0.072278,-0.063069,-0.137097
23,24,"POLYGON ((4157543.978 2765764.704, 4157526.946...",733.182957,-0.182237,-0.260508,-0.024939,-0.226091,-0.094844,-0.299565,-0.229251,...,-0.365384,1.043603,0.923162,0.577024,-0.486031,-0.503333,-0.545262,0.001694,-0.167766,0.625354
24,25,"POLYGON ((4156722.506 2766252.44, 4156717.989 ...",474.076981,-0.166691,-0.304700,-0.033594,0.035928,-0.291272,-0.193919,0.311580,...,0.206885,0.430070,0.321013,0.084554,0.260168,0.033697,-0.111851,0.029280,0.004187,0.079189
25,26,"MULTIPOLYGON (((4156358.839 2767051.758, 41563...",579.903367,0.046659,0.102564,-0.010452,-0.120317,-0.016835,-0.080780,0.013919,...,0.463620,0.002458,0.049349,0.120760,0.011320,0.011699,0.070235,-0.108751,-0.112384,-0.055087

In [23]:
# Overlay cells with clusters to get intersections
overlap = gpd.overlay(cells, clusters, how='intersection')

# Calculate the area of overlap
overlap['area'] = overlap.geometry.area

/tmp/ipykernel_192/307045453.py:2: UserWarning: `keep_geom_type=True` in overlay resulted in 5 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  overlap = gpd.overlay(cells, clusters, how='intersection')

In [24]:
overlap.columns

Index(['ID', 'label', 'enclosure_index', 'sdbAre', 'sdbPer', 'sdbCoA',
       'ssbCCo', 'ssbCor', 'ssbSqu', 'ssbERI',
       ...
       'ltkWNB_median', 'ltkWNB_higher', 'likWBB_lower', 'likWBB_median',
       'likWBB_higher', 'sdsAre_lower', 'sdsAre_median', 'sdsAre_higher',
       'geometry', 'area'],
      dtype='object', length=253)

In [25]:
overlap

,ID,label,enclosure_index,sdbAre,sdbPer,sdbCoA,ssbCCo,ssbCor,ssbSqu,ssbERI,...,ltkWNB_median,ltkWNB_higher,likWBB_lower,likWBB_median,likWBB_higher,sdsAre_lower,sdsAre_median,sdsAre_higher,geometry,area
0,100mN27618E41614,9,1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610,"POLYGON ((4161446.932 2761900, 4161441.57 2761...",490.920072
1,100mN27619E41614,9,1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610,"POLYGON ((4161500 2761973.291, 4161496.027 276...",7565.040165
2,100mN27624E41613,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161400 2762400, 4161300 2762400, 41...",10000.000000
3,100mN27625E41613,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161400 2762578.155, 4161400 2762500...",10000.000000
4,100mN27625E41614,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161500 2762500, 4161400 2762500, 41...",10000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,100mN27713E41610,7,416.662114,0.994737,1.001210,0.101153,-0.385455,0.112029,-0.023618,-0.125163,...,-0.576970,-0.267416,0.254841,0.359163,0.410288,0.385475,0.633965,0.896125,"POLYGON ((4161000 2771300, 4161000 2771347.21,...",1779.743887
3236,100mN27713E41610,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161100 2771310.563, 4161094.047 277...",6006.250435
3237,100mN27713E41611,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161200 2771300, 4161125.337 2771300...",9876.068492
3238,100mN27714E41609,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161000 2771400, 4160952.77 2771400,...",8806.731961
3239,100mN27714E41610,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161100 2771400, 4161000 2771400, 41...",10000.000000

In [ ]:
overlap.explore(column='label')

In [27]:
# Find the cluster with the largest overlap for each cell
largest_overlap = overlap.loc[overlap.groupby(overlap['ID'])['area'].idxmax()]

In [28]:
largest_overlap

,ID,label,enclosure_index,sdbAre,sdbPer,sdbCoA,ssbCCo,ssbCor,ssbSqu,ssbERI,...,ltkWNB_median,ltkWNB_higher,likWBB_lower,likWBB_median,likWBB_higher,sdsAre_lower,sdsAre_median,sdsAre_higher,geometry,area
0,100mN27618E41614,9,1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610,"POLYGON ((4161446.932 2761900, 4161441.57 2761...",490.920072
1,100mN27619E41614,9,1785.562500,0.036302,0.015072,-0.033594,0.433365,-0.140761,0.553140,0.028897,...,-1.612956,-1.512104,-2.023447,-2.129160,-2.298011,0.639089,0.438388,0.261610,"POLYGON ((4161500 2761973.291, 4161496.027 276...",7565.040165
2,100mN27624E41613,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161400 2762400, 4161300 2762400, 41...",10000.000000
3,100mN27625E41613,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161400 2762578.155, 4161400 2762500...",10000.000000
4,100mN27625E41614,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161500 2762500, 4161400 2762500, 41...",10000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3234,100mN27712E41616,7,416.662114,0.994737,1.001210,0.101153,-0.385455,0.112029,-0.023618,-0.125163,...,-0.576970,-0.267416,0.254841,0.359163,0.410288,0.385475,0.633965,0.896125,"POLYGON ((4161700 2771200, 4161600 2771200, 41...",10000.000000
3236,100mN27713E41610,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161100 2771310.563, 4161094.047 277...",6006.250435
3237,100mN27713E41611,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161200 2771300, 4161125.337 2771300...",9876.068492
3238,100mN27714E41609,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161000 2771400, 4160952.77 2771400,...",8806.731961
3239,100mN27714E41610,10,376.519461,-0.117106,-0.149065,-0.033594,0.183983,0.076702,0.186389,-0.068050,...,-1.087851,-0.921455,-1.094241,-1.025054,-1.016604,0.242316,0.235700,0.247628,"POLYGON ((4161100 2771400, 4161000 2771400, 41...",10000.000000

In [29]:
# Merge this back with the original cells DataFrame to attach cluster information
result = cells.merge(largest_overlap[['ID', 'label']], on='ID')

In [30]:
result

,ID,geometry,label
0,100mN27618E41614,"POLYGON ((4161500 2761900, 4161500 2761800, 41...",9
1,100mN27619E41614,"POLYGON ((4161500 2762000, 4161500 2761900, 41...",9
2,100mN27624E41613,"POLYGON ((4161400 2762500, 4161400 2762400, 41...",10
3,100mN27625E41613,"POLYGON ((4161400 2762600, 4161400 2762500, 41...",10
4,100mN27625E41614,"POLYGON ((4161500 2762600, 4161500 2762500, 41...",10
...,...,...,...
2506,100mN27712E41616,"POLYGON ((4161700 2771300, 4161700 2771200, 41...",7
2507,100mN27713E41610,"POLYGON ((4161100 2771400, 4161100 2771300, 41...",10
2508,100mN27713E41611,"POLYGON ((4161200 2771400, 4161200 2771300, 41...",10
2509,100mN27714E41609,"POLYGON ((4161000 2771500, 4161000 2771400, 41...",10
2510,100mN27714E41610,"POLYGON ((4161100 2771500, 4161100 2771400, 41...",10

In [ ]:
result.explore('label')

In [37]:
data['cluster','cluster'] =  data.droplevel(0, axis=1).merge(largest_overlap[['ID', 'label']], on='ID')['label']

In [38]:
data

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable NATIONALITY_COUNTRY NATIONALITY_NO NATIONALITY_GROUP  \
Category  Russian Federation      Not known             Other
0                        NaN            NaN               NaN
1                        NaN            NaN               NaN
2                        NaN            NaN               NaN
3                        NaN            NaN               NaN
4                        NaN            NaN               NaN
...                      ...            ...               ...
3177718                  NaN            NaN               NaN
3177719                  NaN            NaN               NaN
3177720                  NaN            NaN               NaN
3177721                  NaN            NaN               NaN
3177722                  NaN            NaN               NaN

Variable NATIONALITY_COUNTRY MARITAL_STATUS  \
Category          Kazakhstan No information
0                        NaN            NaN
1                        NaN            NaN
2                        NaN            NaN
3                        NaN            NaN
4                        NaN            NaN
...                      ...            ...
3177718                  NaN            NaN
3177719                  NaN            NaN
3177720                  NaN            NaN
3177721                  NaN            NaN
3177722                  NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                         ID          cluster
Category Registered civil partner deceased        N        E cluster
0                                      NaN  2689150  4337050     9.0
1                                      NaN  2689150  4341150     9.0
2                                      NaN  2690850  4341250    10.0
3                                      NaN  2691250  4341250    10.0
4                                      NaN  2691750  4341150    10.0
...                                    ...      ...      ...     ...
3177718                                NaN  3547650  4219850     NaN
3177719                                NaN  3547650  4219950     NaN
3177720                                NaN  3547650  4220050     NaN
3177721                                NaN  3547650  4220150     NaN
3177722                                NaN  3550850  4218750     NaN

[3177723 rows x 62 columns]

In [53]:
data

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable NATIONALITY_COUNTRY NATIONALITY_NO NATIONALITY_GROUP  \
Category  Russian Federation      Not known             Other
0                        NaN            NaN               NaN
1                        NaN            NaN               NaN
2                        NaN            NaN               NaN
3                        NaN            NaN               NaN
4                        NaN            NaN               NaN
...                      ...            ...               ...
3177718                  NaN            NaN               NaN
3177719                  NaN            NaN               NaN
3177720                  NaN            NaN               NaN
3177721                  NaN            NaN               NaN
3177722                  NaN            NaN               NaN

Variable NATIONALITY_COUNTRY MARITAL_STATUS  \
Category          Kazakhstan No information
0                        NaN            NaN
1                        NaN            NaN
2                        NaN            NaN
3                        NaN            NaN
4                        NaN            NaN
...                      ...            ...
3177718                  NaN            NaN
3177719                  NaN            NaN
3177720                  NaN            NaN
3177721                  NaN            NaN
3177722                  NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                         ID          cluster
Category Registered civil partner deceased        N        E cluster
0                                      NaN  2689150  4337050     9.0
1                                      NaN  2689150  4341150     9.0
2                                      NaN  2690850  4341250    10.0
3                                      NaN  2691250  4341250    10.0
4                                      NaN  2691750  4341150    10.0
...                                    ...      ...      ...     ...
3177718                                NaN  3547650  4219850     NaN
3177719                                NaN  3547650  4219950     NaN
3177720                                NaN  3547650  4220050     NaN
3177721                                NaN  3547650  4220150     NaN
3177722                                NaN  3550850  4218750     NaN

[3177723 rows x 62 columns]

In [47]:
data.to_parquet('/data/processed_data/Bevoelkerung100M_clusters.parquet')

In [57]:
data[[' INSGESAMT','NATIONALITY']].fillna(0)

Variable  INSGESAMT NATIONALITY
Category      Total     Germany Abroad
0               8.0         5.0    3.0
1               7.0         7.0    0.0
2               3.0         3.0    0.0
3              10.0        10.0    0.0
4              10.0        10.0    0.0
...             ...         ...    ...
3177718         8.0         8.0    0.0
3177719        18.0        15.0    3.0
3177720        10.0        10.0    0.0
3177721         8.0         7.0    0.0
3177722         4.0         4.0    0.0

[3177723 rows x 3 columns]

In [61]:
data['STATS','% German']=data['NATIONALITY','Germany'].fillna(0)/data[' INSGESAMT','Total']

In [62]:
data

Variable                ID  INSGESAMT    AGE_5                       \
Category                ID      Total Under 18 30 - 49 65 and older
0         100mN26891E43370        8.0      3.0     3.0          3.0
1         100mN26891E43411        7.0      3.0     3.0          NaN
2         100mN26908E43412        3.0      NaN     NaN          NaN
3         100mN26912E43412       10.0      4.0     3.0          3.0
4         100mN26917E43411       10.0      3.0     NaN          3.0
...                    ...        ...      ...     ...          ...
3177718   100mN35476E42198        8.0      NaN     3.0          4.0
3177719   100mN35476E42199       18.0      NaN     5.0          6.0
3177720   100mN35476E42200       10.0      NaN     9.0          NaN
3177721   100mN35476E42201        8.0      NaN     NaN          5.0
3177722   100mN35508E42187        4.0      NaN     3.0          NaN

Variable MARITAL_STATUS         COUNTRY_OF_BIRTH              GENDER  ...  \
Category         Single Married          Germany EU27 country   Male  ...
0                   4.0     3.0              6.0          3.0    4.0  ...
1                   4.0     3.0              7.0          NaN    4.0  ...
2                   NaN     3.0              3.0          NaN    NaN  ...
3                   6.0     4.0             10.0          NaN    6.0  ...
4                   4.0     3.0             10.0          NaN    4.0  ...
...                 ...     ...              ...          ...    ...  ...
3177718             3.0     6.0              8.0          NaN    4.0  ...
3177719             8.0     7.0             15.0          NaN    5.0  ...
3177720             5.0     3.0             10.0          NaN    8.0  ...
3177721             NaN     5.0              6.0          NaN    5.0  ...
3177722             NaN     3.0              4.0          NaN    3.0  ...

Variable NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY MARITAL_STATUS  \
Category      Not known             Other          Kazakhstan No information
0                   NaN               NaN                 NaN            NaN
1                   NaN               NaN                 NaN            NaN
2                   NaN               NaN                 NaN            NaN
3                   NaN               NaN                 NaN            NaN
4                   NaN               NaN                 NaN            NaN
...                 ...               ...                 ...            ...
3177718             NaN               NaN                 NaN            NaN
3177719             NaN               NaN                 NaN            NaN
3177720             NaN               NaN                 NaN            NaN
3177721             NaN               NaN                 NaN            NaN
3177722             NaN               NaN                 NaN            NaN

Variable                                         \
Category Registered Civil partnership dissolved
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
3177718                                     NaN
3177719                                     NaN
3177720                                     NaN
3177721                                     NaN
3177722                                     NaN

Variable                                         ID          cluster     STATS
Category Registered civil partner deceased        N        E cluster  % German
0                                      NaN  2689150  4337050     9.0  0.625000
1                                      NaN  2689150  4341150     9.0  1.000000
2                                      NaN  2690850  4341250    10.0  1.000000
3                                      NaN  2691250  4341250    10.0  1.000000
4                                      NaN  2691750  4341150    10.0  1.000000
...                                    ...      ...      ...     ...       ...
3177718                                NaN  3547650  4219850     NaN  1.000000
3177719                                NaN  3547650  4219950     NaN  0.833333
3177720                                NaN  3547650  4220050     NaN  1.000000
3177721                                NaN  3547650  4220150     NaN  0.875000
3177722                                NaN  3550850  4218750     NaN  1.000000

[3177723 rows x 63 columns]

In [66]:
data[data['cluster','cluster']==2.0]['STATS','% German'].mean()

0.8919053491499337

In [71]:
for i in range(0,int(data['cluster','cluster'].max())):
    print(data[data['cluster','cluster']==i]['STATS','% German'].mean())

nan
0.9374316254481821
0.8919053491499337
0.9190625344912278
0.96042878445924
0.873298496021833
0.9030818842674475
0.8942565133401875
0.938743929001594
0.8728518518518518
0.935849340600541
0.9386620498331197
0.924476094407371
0.9189882652578371
0.9603270281479322
0.9349129553524264
0.9372490992655127
0.9273826613122074
0.9597144148901025
0.93696563542684
0.9556415538700881
0.9536567138261377
0.9194497557944605
0.9362892938715314
0.8783584327069338
0.8242314670313152