In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [3]:
data = pd.read_parquet('/data/processed_data/Bevoelkerung100M.parquet')

In [4]:
data

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN35476E42198        8.0      NaN     3.0          4.0            3.0
100mN35476E42199       18.0      NaN     5.0          6.0            8.0
100mN35476E42200       10.0      NaN     9.0          NaN            5.0
100mN35476E42201        8.0      NaN     NaN          5.0            NaN
100mN35508E42187        4.0      NaN     3.0          NaN            NaN

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN35476E42198     6.0              8.0          NaN    4.0    4.0  ...
100mN35476E42199     7.0             15.0          NaN    5.0   13.0  ...
100mN35476E42200     3.0             10.0          NaN    8.0    3.0  ...
100mN35476E42201     5.0              6.0          NaN    5.0    3.0  ...
100mN35508E42187     3.0              4.0          NaN    3.0    3.0  ...

Variable         NATIONALITY_COUNTRY                           MARITAL_STATUS  \
Category                     Romania Netherlands Registered civil partnership
ID
100mN26891E43370                 NaN         NaN                          NaN
100mN26891E43411                 NaN         NaN                          NaN
100mN26908E43412                 NaN         NaN                          NaN
100mN26912E43412                 NaN         NaN                          NaN
100mN26917E43411                 NaN         NaN                          NaN
...                              ...         ...                          ...
100mN35476E42198                 NaN         NaN                          NaN
100mN35476E42199                 NaN         NaN                          NaN
100mN35476E42200                 NaN         NaN                          NaN
100mN35476E42201                 NaN         NaN                          NaN
100mN35508E42187                 NaN         NaN                          NaN

Variable         NATIONALITY_COUNTRY NATIONALITY_NO NATIONALITY_GROUP  \
Category          Russian Federation      Not known             Other
ID
100mN26891E43370                 NaN            NaN               NaN
100mN26891E43411                 NaN            NaN               NaN
100mN26908E43412                 NaN            NaN               NaN
100mN26912E43412                 NaN            NaN               NaN
100mN26917E43411                 NaN            NaN               NaN
...                              ...            ...               ...
100mN35476E42198                 NaN            NaN               NaN
100mN35476E42199                 NaN            NaN               NaN
100mN35476E42200                 NaN            NaN               NaN
100mN35476E42201                 NaN            NaN               NaN
100mN35508E42187                 NaN            NaN               NaN

Variable         NATIONALITY_COUNTRY MARITAL_STATUS  \
Category                  Kazakhstan No information
ID
100mN26891E43370                 NaN            NaN
100mN26891E43411                 NaN            NaN
100mN26908E43412                 NaN            NaN
100mN26912E43412                 NaN            NaN
100mN26917E43411                 NaN            NaN
...                              ...            ...
100mN35476E42198                 NaN            NaN
100mN35476E42199                 NaN            NaN
100mN35476E42200                 NaN            NaN
100mN35476E42201                 NaN            NaN
100mN35508E42187                 NaN            NaN

Variable                                                 \
Category         Registered Civil partnership dissolved
ID
100mN26891E43370                                    NaN
100mN26891E43411                                    NaN
100mN26908E43412                                    NaN
100mN26912E43412                                    NaN
100mN26917E43411                                    NaN
...                                                 ...
100mN35476E42198                                    NaN
100mN35476E42199                                    NaN
100mN35476E42200                                    NaN
100mN35476E42201                                    NaN
100mN35508E42187                                    NaN

Variable
Category         Registered civil partner deceased
ID
100mN26891E43370                               NaN
100mN26891E43411                               NaN
100mN26908E43412                               NaN
100mN26912E43412                               NaN
100mN26917E43411                               NaN
...                                            ...
100mN35476E42198                               NaN
100mN35476E42199                               NaN
100mN35476E42200                               NaN
100mN35476E42201                               NaN
100mN35508E42187                               NaN

[3177723 rows x 58 columns]

In [5]:
coords = data.index.str.extract(r'N(\d{5})E(\d{5})')

In [6]:
coords[0] = pd.to_numeric(coords[0]) * 100 + 50
coords[1] = pd.to_numeric(coords[1]) * 100 + 50

In [7]:
coords.values

array([[2689150, 4337050],
       [2689150, 4341150],
       [2690850, 4341250],
       ...,
       [3547650, 4220050],
       [3547650, 4220150],
       [3550850, 4218750]], dtype=int64)

In [8]:
data[[("geometry", "N"), ("geometry", "E")]]=coords.values

In [9]:
data

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN35476E42198        8.0      NaN     3.0          4.0            3.0
100mN35476E42199       18.0      NaN     5.0          6.0            8.0
100mN35476E42200       10.0      NaN     9.0          NaN            5.0
100mN35476E42201        8.0      NaN     NaN          5.0            NaN
100mN35508E42187        4.0      NaN     3.0          NaN            NaN

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN35476E42198     6.0              8.0          NaN    4.0    4.0  ...
100mN35476E42199     7.0             15.0          NaN    5.0   13.0  ...
100mN35476E42200     3.0             10.0          NaN    8.0    3.0  ...
100mN35476E42201     5.0              6.0          NaN    5.0    3.0  ...
100mN35508E42187     3.0              4.0          NaN    3.0    3.0  ...

Variable                       MARITAL_STATUS NATIONALITY_COUNTRY  \
Category         Registered civil partnership  Russian Federation
ID
100mN26891E43370                          NaN                 NaN
100mN26891E43411                          NaN                 NaN
100mN26908E43412                          NaN                 NaN
100mN26912E43412                          NaN                 NaN
100mN26917E43411                          NaN                 NaN
...                                       ...                 ...
100mN35476E42198                          NaN                 NaN
100mN35476E42199                          NaN                 NaN
100mN35476E42200                          NaN                 NaN
100mN35476E42201                          NaN                 NaN
100mN35508E42187                          NaN                 NaN

Variable         NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY  \
Category              Not known             Other          Kazakhstan
ID
100mN26891E43370            NaN               NaN                 NaN
100mN26891E43411            NaN               NaN                 NaN
100mN26908E43412            NaN               NaN                 NaN
100mN26912E43412            NaN               NaN                 NaN
100mN26917E43411            NaN               NaN                 NaN
...                         ...               ...                 ...
100mN35476E42198            NaN               NaN                 NaN
100mN35476E42199            NaN               NaN                 NaN
100mN35476E42200            NaN               NaN                 NaN
100mN35476E42201            NaN               NaN                 NaN
100mN35508E42187            NaN               NaN                 NaN

Variable         MARITAL_STATUS                                         \
Category         No information Registered Civil partnership dissolved
ID
100mN26891E43370            NaN                                    NaN
100mN26891E43411            NaN                                    NaN
100mN26908E43412            NaN                                    NaN
100mN26912E43412            NaN                                    NaN
100mN26917E43411            NaN                                    NaN
...                         ...                                    ...
100mN35476E42198            NaN                                    NaN
100mN35476E42199            NaN                                    NaN
100mN35476E42200            NaN                                    NaN
100mN35476E42201            NaN                                    NaN
100mN35508E42187            NaN                                    NaN

Variable                                           geometry
Category         Registered civil partner deceased        N        E
ID
100mN26891E43370                               NaN  2689150  4337050
100mN26891E43411                               NaN  2689150  4341150
100mN26908E43412                               NaN  2690850  4341250
100mN26912E43412                               NaN  2691250  4341250
100mN26917E43411                               NaN  2691750  4341150
...                                            ...      ...      ...
100mN35476E42198                               NaN  3547650  4219850
100mN35476E42199                               NaN  3547650  4219950
100mN35476E42200                               NaN  3547650  4220050
100mN35476E42201                               NaN  3547650  4220150
100mN35508E42187                               NaN  3550850  4218750

[3177723 rows x 60 columns]

In [10]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data[("geometry", "E")], data[("geometry", "N")]), crs='EPSG:3035')

In [11]:
gdf

Variable          INSGESAMT    AGE_5                      MARITAL_STATUS  \
Category              Total Under 18 30 - 49 65 and older         Single
ID
100mN26891E43370        8.0      3.0     3.0          3.0            4.0
100mN26891E43411        7.0      3.0     3.0          NaN            4.0
100mN26908E43412        3.0      NaN     NaN          NaN            NaN
100mN26912E43412       10.0      4.0     3.0          3.0            6.0
100mN26917E43411       10.0      3.0     NaN          3.0            4.0
...                     ...      ...     ...          ...            ...
100mN35476E42198        8.0      NaN     3.0          4.0            3.0
100mN35476E42199       18.0      NaN     5.0          6.0            8.0
100mN35476E42200       10.0      NaN     9.0          NaN            5.0
100mN35476E42201        8.0      NaN     NaN          5.0            NaN
100mN35508E42187        4.0      NaN     3.0          NaN            NaN

Variable                 COUNTRY_OF_BIRTH              GENDER         ...  \
Category         Married          Germany EU27 country   Male Female  ...
ID                                                                    ...
100mN26891E43370     3.0              6.0          3.0    4.0    4.0  ...
100mN26891E43411     3.0              7.0          NaN    4.0    3.0  ...
100mN26908E43412     3.0              3.0          NaN    NaN    NaN  ...
100mN26912E43412     4.0             10.0          NaN    6.0    4.0  ...
100mN26917E43411     3.0             10.0          NaN    4.0    6.0  ...
...                  ...              ...          ...    ...    ...  ...
100mN35476E42198     6.0              8.0          NaN    4.0    4.0  ...
100mN35476E42199     7.0             15.0          NaN    5.0   13.0  ...
100mN35476E42200     3.0             10.0          NaN    8.0    3.0  ...
100mN35476E42201     5.0              6.0          NaN    5.0    3.0  ...
100mN35508E42187     3.0              4.0          NaN    3.0    3.0  ...

Variable                       MARITAL_STATUS NATIONALITY_COUNTRY  \
Category         Registered civil partnership  Russian Federation
ID
100mN26891E43370                          NaN                 NaN
100mN26891E43411                          NaN                 NaN
100mN26908E43412                          NaN                 NaN
100mN26912E43412                          NaN                 NaN
100mN26917E43411                          NaN                 NaN
...                                       ...                 ...
100mN35476E42198                          NaN                 NaN
100mN35476E42199                          NaN                 NaN
100mN35476E42200                          NaN                 NaN
100mN35476E42201                          NaN                 NaN
100mN35508E42187                          NaN                 NaN

Variable         NATIONALITY_NO NATIONALITY_GROUP NATIONALITY_COUNTRY  \
Category              Not known             Other          Kazakhstan
ID
100mN26891E43370            NaN               NaN                 NaN
100mN26891E43411            NaN               NaN                 NaN
100mN26908E43412            NaN               NaN                 NaN
100mN26912E43412            NaN               NaN                 NaN
100mN26917E43411            NaN               NaN                 NaN
...                         ...               ...                 ...
100mN35476E42198            NaN               NaN                 NaN
100mN35476E42199            NaN               NaN                 NaN
100mN35476E42200            NaN               NaN                 NaN
100mN35476E42201            NaN               NaN                 NaN
100mN35508E42187            NaN               NaN                 NaN

Variable         MARITAL_STATUS                                         \
Category         No information Registered Civil partnership dissolved
ID
100mN26891E43370            NaN                                    NaN
100mN26891E43411            NaN                                    NaN
100mN26908E43412            NaN                                    NaN
100mN26912E43412            NaN                                    NaN
100mN26917E43411            NaN                                    NaN
...                         ...                                    ...
100mN35476E42198            NaN                                    NaN
100mN35476E42199            NaN                                    NaN
100mN35476E42200            NaN                                    NaN
100mN35476E42201            NaN                                    NaN
100mN35508E42187            NaN                                    NaN

Variable                                                           geometry  \
Category         Registered civil partner deceased                        N
ID
100mN26891E43370                               NaN  POINT (4337050 2689150)
100mN26891E43411                               NaN  POINT (4341150 2689150)
100mN26908E43412                               NaN  POINT (4341250 2690850)
100mN26912E43412                               NaN  POINT (4341250 2691250)
100mN26917E43411                               NaN  POINT (4341150 2691750)
...                                            ...                      ...
100mN35476E42198                               NaN  POINT (4219850 3547650)
100mN35476E42199                               NaN  POINT (4219950 3547650)
100mN35476E42200                               NaN  POINT (4220050 3547650)
100mN35476E42201                               NaN  POINT (4220150 3547650)
100mN35508E42187                               NaN  POINT (4218750 3550850)

Variable
Category                                E
ID
100mN26891E43370  POINT (4337050 2689150)
100mN26891E43411  POINT (4341150 2689150)
100mN26908E43412  POINT (4341250 2690850)
100mN26912E43412  POINT (4341250 2691250)
100mN26917E43411  POINT (4341150 2691750)
...                                   ...
100mN35476E42198  POINT (4219850 3547650)
100mN35476E42199  POINT (4219950 3547650)
100mN35476E42200  POINT (4220050 3547650)
100mN35476E42201  POINT (4220150 3547650)
100mN35508E42187  POINT (4218750 3550850)

[3177723 rows x 60 columns]

In [12]:
data[("geometry", "E")]

ID
100mN26891E43370    4337050
100mN26891E43411    4341150
100mN26908E43412    4341250
100mN26912E43412    4341250
100mN26917E43411    4341150
                     ...
100mN35476E42198    4219850
100mN35476E42199    4219950
100mN35476E42200    4220050
100mN35476E42201    4220150
100mN35508E42187    4218750
Name: (geometry, E), Length: 3177723, dtype: int64

In [29]:
gdf.columns = gdf.columns.to_flat_index()

In [35]:
gdf

,"( INSGESAMT, Total)","(AGE_5, Under 18)","(AGE_5, 30 - 49)","(AGE_5, 65 and older)","(MARITAL_STATUS, Single)","(MARITAL_STATUS, Married)","(COUNTRY_OF_BIRTH, Germany)","(COUNTRY_OF_BIRTH, EU27 country)","(GENDER, Male)","(GENDER, Female)",...,"(MARITAL_STATUS, Registered civil partnership)","(NATIONALITY_COUNTRY, Russian Federation)","(NATIONALITY_NO, Not known)","(NATIONALITY_GROUP, Other)","(NATIONALITY_COUNTRY, Kazakhstan)","(MARITAL_STATUS, No information)","(MARITAL_STATUS, Registered Civil partnership dissolved)","(MARITAL_STATUS, Registered civil partner deceased)","(geometry, N)","(geometry, E)"
ID,,,,,,,,,,,,,,,,,,,,,
100mN26891E43370,8.0,3.0,3.0,3.0,4.0,3.0,6.0,3.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4337050 2689150),POINT (4337050 2689150)
100mN26891E43411,7.0,3.0,3.0,NaN,4.0,3.0,7.0,NaN,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341150 2689150),POINT (4341150 2689150)
100mN26908E43412,3.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341250 2690850),POINT (4341250 2690850)
100mN26912E43412,10.0,4.0,3.0,3.0,6.0,4.0,10.0,NaN,6.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341250 2691250),POINT (4341250 2691250)
100mN26917E43411,10.0,3.0,NaN,3.0,4.0,3.0,10.0,NaN,4.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341150 2691750),POINT (4341150 2691750)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100mN35476E42198,8.0,NaN,3.0,4.0,3.0,6.0,8.0,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4219850 3547650),POINT (4219850 3547650)
100mN35476E42199,18.0,NaN,5.0,6.0,8.0,7.0,15.0,NaN,5.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4219950 3547650),POINT (4219950 3547650)
100mN35476E42200,10.0,NaN,9.0,NaN,5.0,3.0,10.0,NaN,8.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4220050 3547650),POINT (4220050 3547650)
100mN35476E42201,8.0,NaN,NaN,5.0,NaN,5.0,6.0,NaN,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4220150 3547650),POINT (4220150 3547650)
100mN35508E42187,4.0,NaN,3.0,NaN,NaN,3.0,4.0,NaN,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4218750 3550850),POINT (4218750 3550850)

In [36]:
gdf = gdf.reset_index()

In [38]:
gdf.columns = gdf.columns.astype(str)

In [40]:
gdf

,ID,"(' INSGESAMT', 'Total')","('AGE_5', 'Under 18')","('AGE_5', '30 - 49')","('AGE_5', '65 and older')","('MARITAL_STATUS', 'Single')","('MARITAL_STATUS', 'Married')","('COUNTRY_OF_BIRTH', 'Germany')","('COUNTRY_OF_BIRTH', 'EU27 country')","('GENDER', 'Male')",...,"('MARITAL_STATUS', 'Registered civil partnership')","('NATIONALITY_COUNTRY', 'Russian Federation')","('NATIONALITY_NO', 'Not known')","('NATIONALITY_GROUP', 'Other')","('NATIONALITY_COUNTRY', 'Kazakhstan')","('MARITAL_STATUS', 'No information')","('MARITAL_STATUS', 'Registered Civil partnership dissolved')","('MARITAL_STATUS', 'Registered civil partner deceased')","('geometry', 'N')","('geometry', 'E')"
0,100mN26891E43370,8.0,3.0,3.0,3.0,4.0,3.0,6.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4337050 2689150),POINT (4337050 2689150)
1,100mN26891E43411,7.0,3.0,3.0,NaN,4.0,3.0,7.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341150 2689150),POINT (4341150 2689150)
2,100mN26908E43412,3.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341250 2690850),POINT (4341250 2690850)
3,100mN26912E43412,10.0,4.0,3.0,3.0,6.0,4.0,10.0,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341250 2691250),POINT (4341250 2691250)
4,100mN26917E43411,10.0,3.0,NaN,3.0,4.0,3.0,10.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4341150 2691750),POINT (4341150 2691750)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3177718,100mN35476E42198,8.0,NaN,3.0,4.0,3.0,6.0,8.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4219850 3547650),POINT (4219850 3547650)
3177719,100mN35476E42199,18.0,NaN,5.0,6.0,8.0,7.0,15.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4219950 3547650),POINT (4219950 3547650)
3177720,100mN35476E42200,10.0,NaN,9.0,NaN,5.0,3.0,10.0,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4220050 3547650),POINT (4220050 3547650)
3177721,100mN35476E42201,8.0,NaN,NaN,5.0,NaN,5.0,6.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4220150 3547650),POINT (4220150 3547650)
3177722,100mN35508E42187,4.0,NaN,3.0,NaN,NaN,3.0,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (4218750 3550850),POINT (4218750 3550850)

In [42]:
gdf.crs

AttributeError: The CRS attribute of a GeoDataFrame without an active geometry column is not defined. Use GeoDataFrame.set_geometry to set the active geometry column.

In [39]:
gdf.to_parquet(path='Bevoelkerung100M.parquet',geometry_encoding='geoarrow')

In [15]:
gdf.columns = pd.MultiIndex.from_frame(
    pd.DataFrame(index=gdf.columns)
    .reset_index().astype(str)
)

In [23]:
gdf.columns

MultiIndex([(         ' INSGESAMT',                              'Total'),
            (              'AGE_5',                           'Under 18'),
            (              'AGE_5',                            '30 - 49'),
            (              'AGE_5',                       '65 and older'),
            (     'MARITAL_STATUS',                             'Single'),
            (     'MARITAL_STATUS',                            'Married'),
            (   'COUNTRY_OF_BIRTH',                            'Germany'),
            (   'COUNTRY_OF_BIRTH',                       'EU27 country'),
            (             'GENDER',                               'Male'),
            (             'GENDER',                             'Female'),
            (           'RELIGION', 'Roman Catholic Church (public law)'),
            (           'RELIGION',        'Other, none, no information'),
            (  'NATIONALITY_GROUP',                            'Germany'),
            (  'NATIONALITY_GROUP',                       'EU27 country'),
            ('NATIONALITY_COUNTRY',                            'Germany'),
            ('NATIONALITY_COUNTRY',                            'Austria'),
            (        'NATIONALITY',                            'Germany'),
            (        'NATIONALITY',                             'Abroad'),
            (     'NATIONALITY_NO',                    'One nationality'),
            (             'AGE_10',                           'Under 10'),
            (             'AGE_10',                            '20 - 29'),
            (              'AGE_5',                            '18 - 29'),
            (             'AGE_10',                            '60 - 69'),
            (             'AGE_10',                            '10 - 19'),
            (             'AGE_10',                            '40 - 49'),
            (             'AGE_10',                            '50 - 59'),
            (              'AGE_5',                            '50 - 64'),
            (     'MARITAL_STATUS',                           'Divorced'),
            (           'RELIGION',    'Evangelical Church (public law)'),
            (             'AGE_10',                            '30 - 39'),
            (             'AGE_10',                            '70 - 79'),
            ('NATIONALITY_COUNTRY',                              'Other'),
            (     'MARITAL_STATUS',                            'Widowed'),
            (     'NATIONALITY_NO',       'Multiple, German and foreign'),
            (             'AGE_10',                       '80 and older'),
            (  'NATIONALITY_GROUP',                        'Other world'),
            (  'NATIONALITY_GROUP',                       'Other Europe'),
            (   'COUNTRY_OF_BIRTH',                       'Other Europe'),
            (   'COUNTRY_OF_BIRTH',                        'Other world'),
            (   'COUNTRY_OF_BIRTH',                              'Other'),
            ('NATIONALITY_COUNTRY',                            'Ukraine'),
            ('NATIONALITY_COUNTRY',                              'Italy'),
            (     'NATIONALITY_NO',             'Multiple, only foreign'),
            ('NATIONALITY_COUNTRY',                             'Turkey'),
            ('NATIONALITY_COUNTRY',                             'Greece'),
            ('NATIONALITY_COUNTRY',                             'Poland'),
            ('NATIONALITY_COUNTRY',             'Bosnia and Herzegovina'),
            ('NATIONALITY_COUNTRY',                            'Croatia'),
            ('NATIONALITY_COUNTRY',                            'Romania'),
            ('NATIONALITY_COUNTRY',                        'Netherlands'),
            (     'MARITAL_STATUS',       'Registered civil partnership'),
            ('NATIONALITY_COUNTRY',                 'Russian Federation'),
            (     'NATIONALITY_NO',                          'Not known'),
            (  'NATIONALITY_GROUP',                              'Other'),
            ('NATIONALITY_COUNTRY',                         'Kazakhstan'),
            (     'MARITAL_STATUS',                     'No information'),
            (                  'S',                                'nan'),
            (           'geometry',                                  'N'),
            (           'geometry',                                  'E')],
           names=['Variable', 'Category'])

In [21]:
gdf.index = pd.MultiIndex.from_frame(
    pd.DataFrame(index=gdf.index)
    .reset_index().astype(str)
    )

In [26]:
gdf.index

MultiIndex([('100mN26891E43370',),
            ('100mN26891E43411',),
            ('100mN26908E43412',),
            ('100mN26912E43412',),
            ('100mN26917E43411',),
            ('100mN26919E43408',),
            ('100mN26923E43411',),
            ('100mN26924E43412',),
            ('100mN26926E43410',),
            ('100mN26927E43410',),
            ...
            ('100mN27382E45060',),
            ('100mN27382E45061',),
            ('100mN27382E45203',),
            ('100mN27382E45204',),
            ('100mN27382E45205',),
            ('100mN27382E45281',),
            ('100mN27382E45282',),
            ('100mN27382E45283',),
            ('100mN27382E45284',),
            ('100mN27382E45287',)],
           names=['ID'], length=57768)

In [29]:
gdf.to_parquet('Bevoelkerung100M.parquet')

ValueError: Writing to Parquet/Feather requires string column names